html {
  font-size: 18px;
}

/* Site Colors */
:root {
  --dark: rgb(39, 39, 42);
  --light: rgb(212, 212, 216);
  --accent: rgb(167, 139, 250);
  --secondary: rgb(100, 50, 186);
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "segoe ui", Roboto, "helvetica neue", Arial, "noto sans", sans-serif,
    "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
  line-height: 1.5;
}

.wrapper {
  flex-direction: column;
  max-width: 25rem;
  padding-bottom: 3rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: var(--accent);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  text-decoration: none;
  border-radius: 0.1rem;
}

@media (any-hover: hover) {
  a:hover {
    background-color: var(--secondary);
  }
}

a:active {
  color: var(--accent);
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: var(--accent);
  background-color: transparent;
  text-decoration: none;
}

::selection {
   background-color: rgb(126, 69, 187);
}

img.logo {
  width: 120px;
  height: 120px;
  filter: invert(87%) sepia(1%) saturate(744%) hue-rotate(201deg) brightness(97%) contrast(97%);
}

.wrapper-logo {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  margin-bottom: 2rem;
  align-items: flex-end;
}
